<app-header></app-header>

<main>
    <h1>Sign In</h1>
    <small>or <a href="/signup">Sign Up</a></small>
    <form>
        <label for="email">
            Email
            <input type="email" id="email" name="email" autocomplete="email" required>
        </label>
        <label for="password">
            Password
            <input type="password" id="password" name="password" autocomplete="current-password" required>
        </label>
        <button type="submit">Sign In</button>
    </form>
</main>

<app-footer></app-footer>