<app-header></app-header>

<main *ngIf="app === undefined">
    <spinner [fill]="true"></spinner>
</main>

<main *ngIf="app !== undefined">
    <h1>{{app.name}}</h1>
    <small><a href="{{app.url}}" target="_blank">{{app.url}}</a></small>
    <fieldset id="webhook">
        <legend>Webhook</legend>
        <input
            type="url"
            name="webhook"
            placeholder="https://example.com"
            value="{{app.api.webhook.url}}"

            #webhook
        >
        <button (click)="setWebhook(webhook.value)">Update</button>
    </fieldset>
    <fieldset id="scopes">
        <legend>Scopes</legend>
        <p *ngFor="let scope of app.scopes">{{scope.value}}</p>
    </fieldset>
    <fieldset id="api-key">
        <legend>API Key</legend>
        <div>
            <span>{{app.api.key}}</span>
            <br>
            <small><mark>Do not share your API key with anyone</mark></small>
        </div>
        <button (click)="copyApiKey()">Copy</button>
    </fieldset>
    <fieldset id="danger-zone">
        <legend>Danger zone</legend>
        <p><b>&#9888; These actions cannot be undone &#9888;</b></p>
        <button (click)="delete()">Delete</button>
        <small>This will delete this app permanently.</small>
    </fieldset>
</main>