<app-header></app-header>

<main *ngIf="app !== undefined">
    <h1>{{app.name}}</h1>
    <small><a href="{{app.url}}" target="_blank">{{app.url}}</a></small>
    <fieldset id="api-key">
        <legend>API Key</legend>
        <span>{{app.api.key}}</span>
        <button (click)="copyApiKey()">Copy</button>
    </fieldset>
    <fieldset id="danger-zone">
        <legend>Danger zone</legend>
        <p><b>&#9888; These actions cannot be undone &#9888;</b></p>
        <button (click)="delete()">Delete</button>
        <small>
            This will delete your <a href="{{app.url}}" target="_blank">{{app.name}}</a> app permanently.
        </small>
    </fieldset>
</main>