h1
{
    margin: 0;

    + small
    {
        display: block;
        margin-bottom: 30px;

        a
        {
            color: inherit;
        }
    }
}

#api-key
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#danger-zone
{
    small
    {
        display: block;
        margin-top: 5px;
        margin-bottom: 15px;
    }
}