<header>
    <a routerLink="/">SignInAt</a>
    <div></div>
    <div class="right">
        <a class="button small inverted" routerLink="/signin" *ngIf="!isSignedIn && !router.url.startsWith('/signin')">Sign In</a>
        <a class="button small inverted" routerLink="/signup" *ngIf="!isSignedIn && router.url.startsWith('/signin')">Sign Up</a>
        <button class="small inverted" (click)="openAccountMenu(accountMenu)" *ngIf="isSignedIn">Account</button>
    </div>
</header>

<app-account-menu #accountMenu></app-account-menu>