:host
{
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: min-content auto min-content;
    height: 100vh;
}

main
{
    section
    {
        h1
        {
            margin-top: 0;
        }
    }
}

.field ~ .field
{
    margin-top: 15px;
}

.field .name
{
    margin: 0;
}

#apps
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
    gap: 15px;
    margin-bottom: 15px;

    .app
    {
        text-decoration: none;
        color: var(--secondary-color);
        background-color: var(--primary-color);
        padding: 5px;
        border-radius: 5px;

        img
        {
            width: 100%;
            border-radius: 5px;
        }

        p
        {
            margin: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

footer
{
    grid-area: footer;
    display: flex;
    background: none;

    button
    {
        width: 100%;
        padding: 15px;
        border-radius: 0;
        color: rgba(white, 0.5);

        &.selected
        {
            color: var(--secondary-color);
        }

        &:hover,
        &:focus
        {
            opacity: 0.8;
            box-shadow: none;
        }
    }
}