<app-header></app-header>

<main>
    <section *ngIf="section == 'general'">
        <fieldset>
            <legend>Profile</legend>
            <div class="field">
                <h4 class="name">First Name</h4>
                <small>{{firstName}}</small>
            </div>
            <div class="field">
                <h4 class="name">Last Name</h4>
                <small>{{lastName}}</small>
            </div>
            <div class="field">
                <h4 class="name">Email</h4>
                <small>{{email}}</small>
            </div>
        </fieldset>
    </section>
    <section *ngIf="section == 'advanced'">
        <fieldset>
            <legend>Danger zone</legend>
            <button>Delete account</button>
        </fieldset>
    </section>
    <section *ngIf="section == 'developer'">
        <h1>Apps</h1>
        <span *ngIf="apps !== undefined && apps.length === 0"><i>You haven't created any apps yet</i></span>
        <div id="apps">
            <button (click)="setCreateNewAppDialogVisible(true)">
                <span [style.font-size]="'xx-large'">&#43;</span>
                <br>
                Create new App
            </button>
            <app-spinner *ngIf="apps === undefined"></app-spinner>
            <a
                class="button app"
                routerLink="/app/manage/{{app.id}}"
                title="{{app.name}}"

                *ngFor="let app of apps"
            >
                <span>{{app.name}}</span>
                <br>
                <small>{{app.url}}</small>
            </a>
        </div>
    </section>
</main>

<dialog #createNewAppDialog>
    <h1>Create new App</h1>
    <form
        #createNewAppForm
        (submit)="createNewAppFormOnSubmit(
            $event,
            appName.value,
            appUrl.value,
            appScopes.selectedOptions
        )"
    >
        <label>
            App Name
            <input
                type="text"
                name="name"
                required

                #appName
            >
        </label>
        <label>
            URL
            <input
                type="url"
                name="url"
                required

                #appUrl
            >
        </label>
        <label>
            Scopes
            <select
                name="scopes"
                multiple

                #appScopes
            >
                <option *ngFor="let scope of scopes">{{scope.value}}</option>
            </select>
        </label>
        <button type="submit">Create</button>
        <button type="button" (click)="setCreateNewAppDialogVisible(false)">Cancel</button>
    </form>
</dialog>

<footer>
    <button (click)="setSection('general')" [class.selected]="section === 'general'">General</button>
    <button (click)="setSection('advanced')" [class.selected]="section === 'advanced'">Advanced</button>
    <button (click)="setSection('developer')" [class.selected]="section === 'developer'">Developer</button>
</footer>