<app-header></app-header>

<main>
    <section *ngIf="section == 'general'">
        <h1>Profile</h1>
        <div class="field">
            <h4 class="name">First Name</h4>
            <small>{{firstName}}</small>
        </div>
        <div class="field">
            <h4 class="name">Last Name</h4>
            <small>{{lastName}}</small>
        </div>
        <div class="field">
            <h4 class="name">Email</h4>
            <small>{{email}}</small>
        </div>
    </section>
    <section *ngIf="section == 'developer'">
        <h1>Apps</h1>
        <div>
            <div *ngFor="let app of apps">
                <p>{{app.name}}</p>
            </div>
        </div>
        <button (click)="setCreateNewAppDialogVisible(true)">Create new App</button>
    </section>
</main>

<dialog>
    <h1>Create new App</h1>
    <form #createNewAppForm (submit)="createNewAppFormOnSubmit($event, appName.value, appUrl.value)">
        <label for="app-name">
            App Name
            <input
                type="text"
                id="app-name"
                name="name"
                required

                #appName
            >
        </label>
        <label for="app-url">
            URL
            <input
                type="url"
                id="app-url"
                name="url"
                required

                #appUrl
            >
        </label>
        <button type="submit">Create</button>
        <button type="button" (click)="setCreateNewAppDialogVisible(false)">Cancel</button>
    </form>
</dialog>

<footer>
    <button (click)="section = 'general'" [class.selected]="section === 'general'">General</button>
    <button (click)="section = 'developer'" [class.selected]="section === 'developer'">Developer</button>
</footer>