<app-header></app-header>

<main>
    <h1>Sign Up</h1>
    <small>or <a routerLink="/signin">Sign In</a></small>
    <form #form (submit)="onSubmit($event, form)">
        <label>
            First Name
            <input
                type="text"
                name="first-name"
                autocomplete="given-name"
                required

                #firstName
                (input)="setFirstName(firstName.value)"
            >
            <small *ngIf="firstNameError.length > 0"><mark>&#x2716; {{firstNameError}}</mark></small>
        </label>
        <label>
            Last Name
            <input
                type="text"
                name="last-name"
                autocomplete="family-name"
                required

                #lastName
                (input)="setLastName(lastName.value)"
            >
            <small *ngIf="lastNameError.length > 0"><mark>&#x2716; {{lastNameError}}</mark></small>
        </label>
        <label>
            Email
            <input
                type="email"
                name="email"
                autocomplete="email"
                required

                #email
                (input)="setEmail(email.value)"
            >
            <small *ngIf="emailError.length > 0"><mark>&#x2716; {{emailError}}</mark></small>
        </label>
        <label>
            Password
            <input
                type="password"
                name="password"
                autocomplete="new-password"
                required

                #password
                (input)="setPassword(password.value)"
            >
            <small *ngIf="passwordError.length > 0"><mark>&#x2716; {{passwordError}}</mark></small>
        </label>
        <fieldset>
            <legend>Additional information</legend>
            <details (toggle)="isAdditionalInformationShown = !isAdditionalInformationShown">
                <summary>{{isAdditionalInformationShown ? "Hide" : "Show"}}</summary>
                <br>
                <small>
                    <mark>
                        This information is not required to create an account but some apps may require it,
                        so when signing into an app for the first time we may ask you
                        to add this information to your account.
                    </mark>
                </small>
                <label>
                    Birthday
                    <input
                        type="date"
                        name="birthday"
                        autocomplete="bday"

                        #birthday
                        
                    >
                    <small *ngIf="false"><mark>&#x2716; {{""}}</mark></small>
                </label>
            </details>
        </fieldset>
        <button type="submit">Sign Up</button>
    </form>
</main>

<app-footer></app-footer>