:host
{
    display: grid;
    grid-template-areas:
        "header"
        "main";
    grid-template-rows: min-content auto;
    height: 100vh;
}

h1
{
    margin: 0;

    + small
    {
        display: block;
        margin-bottom: 30px;

        a
        {
            color: inherit;
        }
    }
}

#danger-zone
{
    small
    {
        display: block;
        margin-top: 5px;
        margin-bottom: 15px;
    }
}