:host
{
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: min-content auto min-content;
    height: 100vh;
}

.hero
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 65ch;

    h1,
    p
    {
        margin: 0;
    }

    h1
    {
        font-size: xxx-large;
    }

    p a
    {
        color: inherit;
    }

    .cta
    {
        text-decoration: none;
        font-size: x-large;
        padding: 15px;
        margin-top: 30px;
        width: max-content;

        &:hover
        {
            opacity: 0.8;
        }
    }
}