@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap");

:root
{
    --primary-color: #a30b37;
    --secondary-color: white;
}

*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    font-family: "Roboto Mono", monospace;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    height: 100vh;
}

main
{
    grid-area: main;
    padding: 15px;
}