form label,
form label > *
{
    display: block;
}

form label
{
    margin: 15px 0;
}

form label small:not(:empty)
{
    margin-top: 5px;
}

form input,
form button
{
    width: 100%;
}

form button
{
    margin-top: 30px;
}

select
{
    width: 100%;
    font-family: inherit;
    padding: 5px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    outline: none;
}

h1
    {
        margin: 0;
    }

    small a
    {
        color: inherit;
    }