<form (submit)="onSubmit($event)" *ngIf="options !== undefined">
    <h1>{{options.name}}</h1>

    <small *ngIf="options.name === 'Sign Up'">or <a routerLink="/signin">Sign In</a></small>
    <small *ngIf="options.name === 'Sign In'">or <a routerLink="/signup">Sign Up</a></small>
    
    <app-input
        *ngFor="let input of getGroup('default')!.inputs"

        [options]="input"
    >
    </app-input>
    <fieldset *ngFor="let group of getNonDefaultGroups()">
        <legend>{{group.name}}</legend>
        <details (toggle)="group.open = !group.open">
            <summary>{{group.open ? "Hide" : "Show"}}</summary>
            <app-input
                *ngFor="let input of group.inputs"

                [options]="input"
            >
            </app-input>
        </details>
    </fieldset>
    <button type="submit">{{options.submitButtonText || "Submit"}}</button>
    <button
        *ngIf="options.showCancelButton"

        type="button"

        (click)="cancel()"
    >
        Cancel
    </button>
</form>