<form (submit)="onSubmit($event)" *ngIf="options !== undefined">
    <h1>{{options.name}}</h1>

    <small *ngIf="options.name === 'Sign Up'">or <a routerLink="/signin">Sign In</a></small>
    <small *ngIf="options.name === 'Sign In'">or <a routerLink="/signup">Sign Up</a></small>
    
    <label *ngFor="let input of options.getGroup('default')!.inputs">
        {{input.label}}
        <input
            *ngIf="input.type !== 'select'"

            type="{{input.type}}"
            name="{{input.name}}"
            [attr.autocomplete]="input.autocomplete ? input.autocomplete : null"
            [attr.required]="input.required ? '' : null"

            (input)="set(input, $event)"
        >
        <select
            *ngIf="input.type === 'select'"

            name="{{input.name}}"
            [attr.multiple]="(input.options && input.options.multiple) ? '' : null"

            (change)="set(input, $event)"
        >
            <option value="{{option.value}}" *ngFor="let option of input.selectOptions">{{option.value}}</option>
        </select>
        <small *ngIf="input.error && input.error.length > 0"><mark>&#x2716; {{input.error}}</mark></small>
    </label>
    <fieldset *ngFor="let group of options.getNonDefaultGroups()">
        <legend>{{group.name}}</legend>
        <details (toggle)="group.open = !group.open">
            <summary>{{group.open ? "Hide" : "Show"}}</summary>
            <small *ngIf="group.description">
                <br>
                <span *ngIf="!group.description.options || !group.description.options.mark">{{group.description.text}}</span>
                <mark *ngIf="group.description.options && group.description.options.mark">{{group.description.text}}</mark>
            </small>
            <label *ngFor="let input of group.inputs">
                {{input.label}}
                <input
                    type="{{input.type}}"
                    name="{{input.name}}"
                    autocomplete="{{input.autocomplete}}"
                    [attr.required]="input.required ? '' : null"

                    (input)="set(input, $event)"
                >
                <small *ngIf="input.error && input.error.length > 0"><mark>&#x2716; {{input.error}}</mark></small>
            </label>
        </details>
    </fieldset>
    <button type="submit">{{options.submitButtonText}}</button>
    <button
        *ngIf="options.showCancelButton"

        type="button"

        (click)="cancel()"
    >
        Cancel
    </button>
</form>