<form (submit)="onSubmit($event)">
    <label *ngFor="let input of getInputs()">
        {{input.label}}
        <input
            type="{{input.type}}"
            name="{{input.name}}"
            autocomplete="{{input.autocomplete}}"
            required="{{input.required}}"

            (input)="set(input, $event)"
        >
        <small *ngIf="input.error && input.error.length > 0"><mark>&#x2716; {{input.error}}</mark></small>
    </label>
    <button type="submit">Sign Up</button>
</form>