<app-header></app-header>

<main>
    <h2>Linked Accounts</h2>
    <section id="linked-accounts">
        <span *ngIf="accounts.length === 0">No linked accounts</span>
        <a
            class="linked-account"
            routerLink="/account/manage/{{account.id}}"
            title="{{account.app.name}}"

            *ngFor="let account of accounts"
        >
            <img src="https://picsum.photos/200/100" alt="{{account.app.name}}">
            <div class="info">
                <p class="name"><b>{{account.app.name}}</b></p>
            </div>
        </a>
    </section>
</main>