<app-header></app-header>

<main *ngIf="app !== undefined">
    <h1>{{app.name}}</h1>
    <form #form (submit)="onSubmit($event, form)">
        <label for="{{field.id}}" *ngFor="let field of fields">
            {{field.name}}
            <input 
                type="{{field.type}}"
                id="{{field.id}}"
                name="{{field.name}}"
                required="{{field.required}}"
            >
        </label>
        <button type="submit">Sign In @ <b>{{app.name}}</b></button>
    </form>
</main>