@import "../../signup/signup.component.scss";

main
{
    h1
    {
        margin: 0;
    }

    small a
    {
        color: inherit;
    }

    #full-access-warning
    {
        mark
        {
            display: flex;
            align-items: center;
            gap: 15px;
            border-radius: 5px;
            padding: 15px;

            span:first-child
            {
                font-size: xxx-large;
            }
        }
    }

    button
    {
        width: 100%;
    }
}